  <!--/////////////// Group /////////////-->
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">หมวดหมู่</h3>
</div>
<div class="panel-body">
<div class="panel-cotent">
<table class="table table-bordered table-condensed">
<tr>
<th>No.</th>
<th>จ่ายเพื่อ</th>
<th>มูลค่า</th>
<th>Act</th>
</tr>
<tr ng-repeat="detail in details">
<td>{{$index+1}}
<input name="detail[{{$index}}][_act]" type="hidden" ng-value="detail._act">
</td>
<td><input ng-value="detail.title" class="form-control" name="detail[{{$index}}][title]" ></td>
<td><input ng-value="detail.price" class="form-control" name="detail[{{$index}}][price]"

></td>
<td><input type="button" class="btn  btn-danger" value="-" ng-click="remove($index)" /></td>
</tr>
<tr>
<th></th>
<th><input type="text" ng-model="detail.title"  class="form-control"  placeholder="จ่ายเพื่อ"/></th>
<th><input type="text" ng-model="detail.price"  class="form-control"   placeholder="มูลค่า"/></th>
<th><button type="button" ng-click="add()" class="btn btn-success"> + </button></th>
</tr>
</table>
</div>
</div>
</div>